
@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!--* Card init *-->
<div class="card">
	<!-- Card header -->
	<div class="card-header">
		<!-- Title -->
		<h5 class="h3 mb-0">Pie chart</h5>
	</div>
	<!-- Card body -->
	<div class="card-body">
		<div class="chart">
			<!-- Chart wrapper -->
			<canvas id="chart-pie" class="chart-canvas"></canvas>
		</div>
	</div>
</div>

