<!DOCTYPE html>
<head>
	@{
		ViewData["Title"] = "Index";
	}
	<link rel="stylesheet" type="text/css" href="~/css/users.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css" rel="stylesheet" type="text/css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">



</head>
<body>

	<section class="pt-5">
		<div class="container pt-5">
			<div class="card border-0 rounded shadow-sm">
				<div class="card-body p-5">
					<div class="row">
						<div class="col-lg-6">
							<h1 class="fw-bold">Pie charts examples</h1>
							<p class="text-muted fst-italic">Create simple, clean and engaging HTML5 based JavaScript charts using <a class="fw-bold" href="">Chart.js</a> plugin. Snippet by <a class="text-primary" href="https://jsfiddle.net/MhmdHasan/0zrxy4mp/7/">Bootstrapious</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="py-5">
		<div class="container py-5">
			<div class="row">
				<div class="col-lg-6 mb-4">
					<div class="card border-0 shadow-sm rounded">
						<div class="card-body p-4">
							<div class="row align-items-center">
								<div class="col-lg-6">
									<h3 class="fw-bold">Course statistics</h3>
									<p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
								</div>

								<div class="col-lg-6">

									<!-- Example 1 -->
									<canvas id="pieChart1"></canvas>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-4">
					<div class="card border-0 shadow-sm rounded">
						<div class="card-body p-4">
							<div class="row align-items-center">
								<div class="col-lg-6">
									<h3 class="fw-bold">Course statistics</h3>
									<p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
								</div>

								<div class="col-lg-6">

									<!-- Example 2 -->
									<canvas id="pieChart2"></canvas>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-4">
					<div class="card border-0 shadow-sm rounded">
						<div class="card-body p-4">
							<div class="row align-items-center">
								<div class="col-lg-6">
									<h3 class="fw-bold">Course statistics</h3>
									<p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
								</div>

								<div class="col-lg-6">

									<!-- Example 3 -->
									<canvas id="pieChart3"></canvas>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-4">
					<div class="card border-0 shadow-sm rounded">
						<div class="card-body p-4">
							<div class="row align-items-center">
								<div class="col-lg-6">
									<h3 class="fw-bold">Course statistics</h3>
									<p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
								</div>

								<div class="col-lg-6">

									<!-- Example 4 -->
									<canvas id="pieChart4"></canvas>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-4">
					<div class="card border-0 shadow-sm rounded">
						<div class="card-body p-4">
							<div class="row align-items-center">
								<div class="col-lg-6">
									<h3 class="fw-bold">Course statistics</h3>
									<p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
								</div>

								<div class="col-lg-6">

									<!-- Example 5 -->
									<canvas id="pieChart5"></canvas>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-4">
					<div class="card border-0 shadow-sm rounded">
						<div class="card-body p-4">
							<div class="row align-items-center">
								<div class="col-lg-6">
									<h3 class="fw-bold">Course statistics</h3>
									<p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
								</div>

								<div class="col-lg-6">

									<!-- Example 6 -->
									<canvas id="pieChart6"></canvas>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="card border-0 shadow-sm rounded" id="custom">
						<div class="card-body p-5">
							<div class="row align-items-center">
								<div class="col-lg-6">
									<h2 class="fw-bold">Customize your chart</h2>
									<p class="text-muted mb-5 fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>

								<div class="col-lg-6">

									<!-- Example 7 -->
									<div class="position-relative">
										<canvas id="pieChart7"></canvas>
										<div class="position-absolute position-center text-center pt-5">
											<h1 class="fw-bold text-uppercase mb-0">$124k</h1>
											<p class="text-muted text-uppercase mb-0">Toral expense</p>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	@*<script src="~/lib/jquery/dist/jquery.js"></script>*@

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
	<script src="~/js/users.js"></script>
</body>